.App {
  text-align: center;
}

nav {
  background-color: rgb(60, 9, 198);
  color: #fff;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav li {
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: dashed;
}

nav a:hover {
  color: #ccc;
}
.card{
  display: flex;
}
